/* common styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}
main{
    display: flex;
    gap: 21px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 870px;
    border-radius: 10px;
    padding: 42px 30px;
    background-color: #ffff

    
    
}
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Header style */
.idea{
    width: 100%;
    height: 
    94px;
    /* margin: 0;
    padding: 0; */
    display: flex;
    justify-content: space-between;
    background: #562EFF;
    margin-bottom: 36px;
}
/* .idea ul li{
    display: flex;
} */
.logo{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 210px;
}
.logo img{
    width: 40px;
    height: 50px;
    color: white;
}
.logo h4{
    color: white;
    font-weight: 500;
    font-size: 24px;
}
.li img{
    width: 51px;
    height: 51px;
}
.li{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    font-weight: 400;
    font-size: 16px;
    gap: 36px ;
    align-items: center;
    margin-right: 190px;
}



/* top player style */
.section1{
    background-color: white;
}
.players-title{
    color: #562EFF;
    /* font-weight: 500; */
    font-size: 24px;
    /* padding: 33px 0 0 33px; */
}
.players{
    display: grid;
    gap: 29px;
    /* grid-row-gap: 29px ; */
    
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(1fr 1fr 1fr); 
    2 ta same jinis*/

    grid-template-columns: repeat(3, 1fr);
}
.player{
    /* padding: 30px; */
    display: flex;
    
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.players-name{
    margin-left: 16px;
    font-size: 20px;
}
hr{
    margin-top: 40px;
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
    
}

/*--------------
 Top Blogs Style
 --------------- */
 .blog{
    display: flex;
 }
.blog .thumbnail img{
    width: 177px;
    height: 117px;

}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;

}
.blog-author a{
    text-decoration: none;
}
.blogs{
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(2, 1fr);
}

/*-- --------
    Latest Courses style
  ------------- -- */



  .courses{
    display: grid;
    grid-column-gap: 24px;
    
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: ; */
    /* display: flex;
    gap: 24px; */
  }
  .course{
    Width:252.42px;
    Height:269.79px;
  }
  .course img{
    width: 224px;
    height: 104px;
  }
  .course-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    
  }
  .fa-star.filled{
    color: #FFC014;
  }
  .fa-star{
    font-size: 12px;
    color: #AEAEAE;
  }
  .course-duration{
    color: #FF4A60;
    border-radius: 20px;
    background: #FFE4E8;
    font-weight: 600;
    font-size: 14.6913px;
    Width:94.83px;
    Height:29.38px;
    text-align: center;
    padding-top: 12px;

  }
  /* .fa-clock{
    color: #FF4A60;
  } */


  /* Media Queary style */

  @media only screen and (max-width:688px)  {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .player{
        flex-direction: column;

        /* justify-content: center; */
    }
    .li{
        width: 100%;
        margin-right: 0;
        /* margin: 0; */
        /* display: grid;
        grid-template-columns: repeat(4, 1fr);
        color: white;
        font-weight: 400;
        font-size: 16px;
        gap: 36px ;
        align-items: center;
        margin-right:0px; */
    }
    .logo{
        margin-left: 0px;
    }
    
    
  }

  /* Tablet devices */
  @media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }

    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    
  }
 
